SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
PRIVATE_KEY=0xyour_private_key_here
ETHERSCAN_API_KEY=your_etherscan_api_key_here
USE_PUBLIC_SEPOLIA_UNISWAP=true
UNISWAP_V3_FACTORY_ADDRESS=0x0227628f3F023bb0B980b67D528571c95c6DaC1c
UNISWAP_POSITION_MANAGER_ADDRESS=0x1238536071E1c677A632429e3655c799b22cDA52
UNISWAP_QUOTER_V2_ADDRESS=0xEd1f6473345F45b75F8179591dd5bA1888cf2FB3
UNISWAP_SWAP_ROUTER_ADDRESS=0x3bFA4769FB09eefC5a80d6E87c3B9C650f7Ae48E
TOKEN_A_ADDRESS=
TOKEN_B_ADDRESS=
